@page
@model KTLT_2022.Pages.MH_DangKyModel
@using KTLT_2022.Entities
@using KTLT_2022.Services
@{ 
}
<form method="post">
  <label for="bienA">Username:</label><br>
  <input type="text" name="username" value=""><br>
  <label for="bienB">Password:</label><br>
  <input type="password" name="password" value=""><br>
  <label for="bienB">Fullname:</label><br>
  <input type="text" name="fullname" value=""><br><br>
  
  <input type="submit" value="Register">
</form> 

@Model.Chuoi