@page
@model KTLT_2022.Pages.MH_DangNhapModel
@using KTLT_2022.Entities
@using KTLT_2022.Services
@{ 
}
<form method="post">
  <label for="bienA">Username:</label><br>
  <input type="text" name="username" value=""><br>
  <label for="bienB">Password:</label><br>
  <input type="password" name="password" value=""><br><br />  
  
  <input type="submit" class="btn btn-primary" value="Login">
</form> 
<div class="text-danger">
@Model.Chuoi
</div>
