@page
@model KTLT_2022.Pages.MH_Doc_TamGiacModel
@using KTLT_2022.Entities
@using KTLT_2022.Services
@{
    string Chuoi = string.Empty;
    TAMGIAC t;
   
    

           
    t = XL_TamGiac.DocTamGiac();
    Chuoi = $"Ket qua la A: ({t.A.X}, {t.A.Y}) B: ({t.B.X},{t.B.Y}) C: ({t.C.X},{t.C.Y})";
    
}
<div>
@Chuoi
</div>

