@page
@model KTLT_2022.Pages.MH_Luu_DiemModel
@using KTLT_2022.Entities
@using KTLT_2022.Services
@{
    string Chuoi = string.Empty;
    DIEM a;
    a.X = 1;
    a.Y = 2;
    

    if (Request.HasFormContentType)
    {        
        a.X = int.Parse(Request.Form["x"]);
        a.Y = int.Parse(Request.Form["y"]);       
        bool kc = XL_Diem.LuuDiem(a);
        Chuoi = $"Luu thanh cong: {kc}";
    }

    
}
<form method="post">
  <label for="bienA">Nhập x:</label><br>
  <input type="text" name="x" value="@a.X"><br>
  <label for="bienB">Nhập y:</label><br>
  <input type="text" name="y" value="@a.Y"><br><br>
  
  <input type="submit" value="Luu">
</form> 

@Chuoi